body{
    background-color: #333;
    color: white;
}
.navbar{
    border-bottom: 3px solid blue;
    opacity: 0.8;
}
#home-section{
    background-image: url(../img/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
}
.dark-overlay{
  width: 100%;
  min-height: 700px;
  background: rgba(0, 0, 0, 0.7);
}